@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,700&display=swap');

:root {
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 24px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}
html::-webkit-scrollbar,
.menu-section {
  display: none; /* for Chrome, Safari, and Opera */
}
body {
    font-family: 'Space Mono', sans-serif;
    background-color: var(--Light-grayish-cyan);
    display: flex;
    flex-direction: column;
}
img {
    max-width: 100%;
}
.logo {
    margin: auto;
    padding: 3rem 0;
}
.container {
    width: 100%;
    background-color: var(--White);
    position: relative;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    padding: 1rem;
    color: var(--Grayish-cyan);
    font-size: 0.6rem;
    font-family: inherit;
}
form {
    display: flex;
    flex-direction: column;
}
#Bill {
    width: 100%;
    height: 2rem;
    border: none;
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 0.2rem;
    margin: auto;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    color: var(--Very-dark-cyan);
    text-align: end;
    padding: 0 0.8rem;
    background-image: url('images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left;
    margin-bottom: 1rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
    color: var(--Grayish-cyan);
    text-align: end;
}
/*select tip*/
.percent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.2rem;
    height: 8rem;
}
.button, #Custom {
    width: 46%;
    border-radius: 0.2rem;
    border: none;
    border-color: var(--Very-dark-cyan);
    font-size: 1rem;
    padding: 0.2rem 0;
    font-family: inherit;
    height: 2.2rem;
}
.button {
    background-color: var(--Very-dark-cyan);
    color: var(--White);
}
.button:hover {
    background-color: var(--Strong-cyan);
    cursor: pointer;
}
.button.active {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}
#Custom {
    background-color: var(--Very-light-grayish-cyan);
    color: var(--Very-dark-cyan);
    text-align: end;
    padding: 0 0.5rem;
}
.percent:nth-last-of-type(1) {
    margin-bottom: 1rem;
}
#People {
    width: 100%;
    height: 2rem;
    border: none;
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 0.2rem;
    margin: auto;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    color: var(--Very-dark-cyan);
    text-align: end;
    padding: 0 0.8rem;
    background-image: url('images/icon-person.svg');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left;
    margin-bottom: 1rem;
}
.tip {
    background-color: var(--Very-dark-cyan);
    border: none;
    border-radius: 0.4rem;
    padding: 1.2rem 1rem 0.5rem 1rem;
}
.tip-amount, .total {
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: space-between;
}
.heading {
    color: var(--White);
    font-family: inherit;
}
.per {
    font-family: inherit;
    font-size: 0.5rem;
}
.sum {
    color: var(--Strong-cyan);
    font-size: 1rem;
}
.reset {
    color: var(--Very-dark-cyan);
    background-color: var(--Light-grayish-cyan);
    opacity: 0.8;
    font-size: 0.75rem;
    width: 100%;
}
.attribution {
    font-size: 0.3rem;
    margin: 0.1rem auto;
    color: var(--Very-dark-cyan);
}
.attribution a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo {
        margin-bottom: -1rem;
    }
    .container {
        width: 70%;
        margin: 0 auto 2rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 1.5rem;
        font-size: 0.45rem;
    }
    form, .tip {
        width: 47%;
    }
    .tip {
        padding: 1.2rem 1.5rem 0.5rem 1.5rem;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
    }
    .percent {
        height: 5.5rem;
    }
    button, #Custom {
        width: 33%;
    }
    #People {
        margin-bottom: 0;
    }
    .percent:nth-last-of-type(1), #Bill {
        margin-bottom: 0.5rem;
    }
    .tip-amount, .total {
        margin-bottom: 1.5rem;
    }
    .total {
        margin-bottom: 4.7rem;
    }
    .reset {
        height: 1.5rem;
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 1025px) {
    .logo {
        margin-bottom: -1rem;
    }
    .container {
        width: 70%;
        margin: 0 auto 2rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 1.5rem;
        font-size: 0.45rem;
    }
    form, .tip {
        width: 47%;
    }
    .tip {
        padding: 1.2rem 1.5rem 0.5rem 1.5rem;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
    }
    .percent {
        height: 5.5rem;
    }
    .button, #Custom {
        width: 33%;
    }
    #People {
        margin-bottom: 0;
    }
    .percent:nth-last-of-type(1), #Bill {
        margin-bottom: 0.5rem;
    }
    .tip-amount, .total {
        margin-bottom: 1.5rem;
    }
    .total {
        margin-bottom: 4.7rem;
    }
    .reset {
        height: 1.5rem;
        font-size: 0.6rem;
    }
}